<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.schmersaldemo.mango">

    <application
            android:name="com.schmersaldemo.MangoApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".biometric.DeviceAuthPrompt"
        android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".view.GeneralSettings"
                android:screenOrientation="landscape">
        </activity>
        <activity
                android:name=".view.AddLoginAccount"
                android:screenOrientation="landscape"
                android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        </activity>
        <activity
                android:name=".view.Login"
                android:screenOrientation="landscape"
                android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        </activity>
        <activity
                android:name=".view.Splash"
                android:screenOrientation="landscape"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".view.MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="landscape"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>